/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
h1{
    text-align: center;
    font-size: 36px;
    font-family: 'Amatic SC', cursive;
    color: rgb(62, 61, 111);
    background-color: rgb(214, 211, 228);
    padding: 5px;
}

.menu{
    position: sticky;
    background-color: rgb(214, 211, 228);
    text-align: center;
    top: 0px;
    z-index: 2;
}

nav ul li{
    background-color: rgb(152, 143, 192);
    display: inline-block;
    margin: 5px;
    padding: 10px;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    color: rgb(62, 61, 111);
    border: 2px;
    border-style:solid;
}

nav ul{
    display: inline-block;
}

/* main */

main{
    display: inline;
    align-items: center;
    padding-top: 100px;
}

main section div img{
    margin: 20px;
    height: 400px;
}

.promocion1{
    display: inline;
}

.promo2{
    margin: 20px;
    height: 200px;
    display:inline;
}

.promocion2{
    margin: 20px;
    height: 200px;
}

main table tbody tr td{
    border: 2px solid;
    padding: 30px;
    width: 20%;
    height: 200px;
}

main table{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-spacing: 20px;
    text-align: center;
}

.diseno{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    margin: 20px;
}

.preview{
    width: 600px;
    height: 600px;
    border-radius: 16px;
    margin: auto;
    display: block;
}

.crea{
    justify-content: center;
    width: 100%;
}

h2{
    text-align: center;
}

.botonG{
    margin: 20px;
    text-align: right;
}

.elige{
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-family: 'Amatic SC', cursive;
    color: rgb(62, 61, 111);
    font-weight: 700;
}

select{
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
    color: rgb(62, 61, 111);
    font-weight: 700;
}

form{
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
    color: rgb(62, 61, 111);
    font-weight: 700;
    margin: 20px;
}

.form1{
    margin: 10px;
}

input{
    font-size: 14px;
    font-family: 'Amatic SC', cursive;
    color: rgb(62, 61, 111);
    width: 100%;
}

.social{
    text-align: center;
    margin: 20px;
}

.contact{
    width: 40%;
    display: inline-block;
    margin: auto;
}

.botonEB{
    margin: 20px;
    text-align: right;
    width: 100px;
}

/* footer */
footer{
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(62, 61, 111);
    background-color: rgb(214, 211, 228);
    padding: 10px;
}



